# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
tfplan
*.tfplan

# env files 
.env
.env.*
*.env
*.env.*
!*.env.example
!**/.env.example

# compiled code files (.pyc, .pyd, .pyo etc)
*.py[cod]

.pytest_cache/
*.egg-info/

*.log


reference.py
